# k8s/service-discovery.yml
apiVersion: v1
kind: Service
metadata:
  name: discovery-service
spec:
  type: NodePort
  selector:
    app: discovery-service
  ports:
  - protocol: TCP
    port: 8761
    targetPort: 8761
