# k8s/service-config.yml
# '선봉함' config-service의 '내부/외부' 통로

apiVersion: v1
kind: Service
metadata:
  name: config-service  # (★) 다른 함선들이 이 '이름'으로 이 함선을 찾습니다.
spec:
  type: NodePort      # (★) Level 14-C에서 배운대로 '관문'을 엽니다.
  selector:
    app: config-service # (★) 'deployment-config.yml'의 Pod 꼬리표와 일치
  ports:
    - protocol: TCP
      port: 8888         # (내부 교환원 포트, Service 이름으로 접근 시)
      targetPort: 8888   # (Pod의 실제 포트)
      # K8s가 30000~ 대역의 'nodePort'를 자동 할당합니다.