spring:
  application:
    name: catalog-service

  profiles:
    active: local # 기본값은 로컬로 설정
    include: secret # secret.yml도 같이 로드

  jpa:
    open-in-view: false
    properties:
      hibernate:
        default_batch_fetch_size: 100
        format_sql: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile
  ai:
    openai:
      api-key: ${SPRING_AI_API_KEY} # 구글 AI Studio 키

igdb:
  client-id: ${IGDB_CLIENT_ID}
  client-secret: ${IGDB_CLIENT_SECRET}
  auth-url: ${IGDB_AUTH_URL}
  api-url: ${IGDB_API_URL}

jwt:
  secret: ${JWT_SECRET}
  expiration:
    access: 3600000
    refresh: 1209600000

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus, metrics
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: ${spring.application.name}
