version: '3.8'

services:
  # 1. 데이터베이스
  mysql:
    image: mysql:8.0
    container_name: ps-tracker-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: pstracker
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      TZ: Asia/Seoul
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - ps-network

  # 2. Selenium Grid (원격 브라우저) [NEW]
  selenium-chrome:
    image: selenium/standalone-chrome:latest
    container_name: ps-tracker-browser
    ports:
      - "4444:4444" # 외부에서 상황 볼 때 필요 (VNC 등)
      - "7900:7900" # 웹 브라우저로 화면 보기용 (NoVNC)
    shm_size: "2g" # 브라우저가 메모리 부족하지 않게 설정
    environment:
      - TZ=Asia/Seoul
    networks:
      - ps-network

  # 3. Java Backend (Brain)
  catalog-service:
    build: ./apps/catalog-service/catalog-service # Dockerfile 위치
    container_name: ps-tracker-api
    ports:
      - "8080:8080"
    environment:
      TZ: Asia/Seoul
      # 도커 내부에서는 'mysql'이라는 서비스 이름으로 접속
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/pstracker?useSSL=false&allowPublicKeyRetrieval=true&characterEncoding=UTF-8&serverTimezone=Asia/Seoul
      # Python 수집기 주소 지정
      CRAWLER_URL: http://collector-service:5000/run
    depends_on:
      - mysql
    networks:
      - ps-network

  # 4. Python Collector (Hand)
  collector-service:
    build: ./apps/collector-service # Dockerfile 위치
    container_name: ps-tracker-collector
    ports:
      - "5000:5000"
    environment:
      TZ: Asia/Seoul
      # Java 서버 주소 지정
      API_BASE_URL: http://catalog-service:8080
      # Selenium Grid 주소 지정
      SELENIUM_URL: http://selenium-chrome:4444/wd/hub
    depends_on:
      - catalog-service
      - selenium-chrome
    networks:
      - ps-network

  # 5. Frontend (Face) - [NEW]
  frontend:
    build: ./apps/frontend
    container_name: ps-tracker-web
    ports:
      - "80:80"  # 브라우저에서 localhost로 접속 (기존 5173 아님)
    depends_on:
      - catalog-service
    networks:
      - ps-network

  # 6. DB 관리 도구
  adminer:
    image: adminer
    container_name: ps-tracker-adminer
    ports:
      - "8090:8080"
    networks:
      - ps-network

volumes:
  db_data:

networks:
  ps-network:
    driver: bridge