version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: ps-tracker-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: pstracker
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      TZ: Asia/Seoul
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    ports:
      - "3307:3306"
    volumes:
      # [변경] 호스트 경로(./data/mysql) 대신 도커 볼륨(db_data) 사용
      # 이렇게 하면 WSL 권한 문제(OS errno 1)가 완벽하게 해결됩니다.
      - db_data:/var/lib/mysql
    restart: always

  adminer:
    image: adminer
    container_name: ps-tracker-adminer
    ports:
      - "8090:8080"
    environment:
      ADMINER_DEFAULT_SERVER: mysql

# [추가] 도커 볼륨 선언
volumes:
  db_data: