name: Deploy Hand (Collector)

on:
  push:
    branches: [ "master" ]
    paths:
      - 'msa/apps/collector-service/**'   # 파이썬 코드가 바뀌거나
      - 'msa/docker-compose-hand.yml'     # 2호기 설정이 바뀔 때
      - '.github/workflows/deploy-hand.yml'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: msa/apps/collector-service
          file: msa/apps/collector-service/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/ps-tracker-collector:latest

      - name: Deploy to Server (Node 2) via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST_HAND }}
          username: ubuntu
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd ~/backend-lab/msa
            
            # 최신 설정 파일 받기
            git pull origin master

            # 1. 최신 이미지 당겨오기
            docker compose -f docker-compose-hand.yml pull collector-service
            
            # 2. 컨테이너 재시작
            docker compose -f docker-compose-hand.yml up -d collector-service
            
            # 3. 청소
            docker image prune -f